.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  z-index: -1;
  top: 0;
  left: 0;
}
.contenedor-pricipal {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.contenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 75%;
  margin: auto;
}

.clases {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  margin: 50px 150px;
  width: 60%;
}
.titulo {
  margin-left: 170px;
  color: #29b2bf;
}
.image{
  margin: auto;
}

.logo img{

  width: 150px;
  position: absolute;
  left: 50px;
  margin-bottom: 50px;
}

.image img {
  width: 350px;
  border-radius: 10px;
  border: solid 8px white;
}

.icon span {
  font-size: 25px;
  font-weight: 500;
  color: rgb(50, 241, 235);
}

/* navbar */
.navbar1 {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  margin-right: 50px;
}
.navbar-nav1 {
  display: flex;
}

.nav-item1 {
  list-style-type: none;
  padding: 10px 10px;
}

.nav-item1 a {
  color: rgb(239, 106, 192);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item1 a:hover {
  color: #0d6efd;
  transition: 0.3s;
}
.navbar-toggler1 {
  display: none;
  background: none;
  border: none;
  color: rgb(195, 29, 98);
  cursor: pointer;
}

.navbar-toggler1:hover,
.navbar-toggler1:active {
  color: #0d6efd;
  transition: 0.3s;
}
@media (max-width: 1180px) {
  .contenedor {
    width: 95%;
  }

  }

@media (max-width: 940px) {
  .contenedor-pricipal{
    margin-top: 50px;
  }
  .contenedor {
    margin-top: 0;
    grid-template-columns: 100%;
    width: 100%;
  }
  .image {
    margin: auto;
  }

  .clases {
    margin: 50px auto;
  }
  .titulo {
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .navbar1 {
    margin-right: 0px;
  }
  .navbar-nav1 {
    flex-direction: column;
    background-color: #101010;
    display: none;
    position: fixed;
    top: 50px;
    z-index: 100;
    
  }
  .nav-item1 a {
    color: white !important;
  }
  .mostrar {
    display: block;
  }
  .navbar-toggler1 {
    display: block;
  }
  .logo img{
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 590px) {
  .contenedor {
    margin-top: 0;
  }
  .clases {
    width: 100%;
    max-width: 300px;
  }
  .image img {
    width: 100%;
    max-width: 200px;
  }
  h5 {
    font-size: 0.8rem;
  }
}
@media (max-width: 350px) {
  .clases {
    width: 250px;
    margin-left: 30px;
    margin-right: 10px;
    grid-template-columns: 15% 30% 55%;
  }

}
