<div class="capa"></div>
<div class="contenedor">
  <nav class="navbar1">
    <div class="logo">
      <img src="../../../../assets/images/Logo.png" alt="" />
    </div>
    <button (click)="mostrarNav()" class="navbar-toggler1" type="button">
      <i class="fa-solid fa-bars-staggered fa-2x"></i>
    </button>
    <ul class="navbar-nav1">
      <li class="nav-item1">
        <a routerLink="/inicio/home">Home</a>
      </li>
      <li routerLink="/personaje/listado" class="nav-item1">
        <a>Characters</a>
      </li>
      <li routerLink="/personaje/episode" class="nav-item1">
        <a>Episode</a>
      </li>
      <li class="nav-item1">
        <a style="color: #0d6efd; cursor: default; text-decoration: underline"
          >Location</a
        >
      </li>
    </ul>
  </nav>
  <div class="titulo">
    <h1>
      Location: <span>{{ this.name }}</span>
    </h1>
    <h5>
      Dimension: <span>{{ this.dimension }}</span>
    </h5>
    <h6>
      Type: <span>{{ this.type }}</span>
    </h6>
  </div>

  <div class="dropdown-container">
    <div class="dropdown">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Choose...
      </a>

      <ul class="dropdown-menu">
        <li *ngFor="let locacion of locaciones; index as i">
          <a (click)="buscar(i)" class="dropdown-item"> {{ locacion.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <app-personajes [personajes]="this.personajes"></app-personajes>
</div>
