h1{
    color: white;
}
img{
    width: 150px;
    height: 200px;
}
.pro{
    display: flex;
    background-color: rgb(34, 122, 166);
    padding: 10px;
    border: 2px solid black;
}
.ima-pa{
    
    margin: 10px;
    cursor: pointer;
}


@media screen and (max-width: 1400px) {
    img{
        height: 180px;
    }
}
@media screen and (max-width: 1200px) {
    img{
        height: 160px;
    }
}
@media screen and (max-width: 992px) {
    img{
        height: 110px;
    }
}
@media screen and (max-width: 768px) {
    img{
        height: 80px;
    }
    .pro{
        padding: 3px;
    }
}
@media screen and (max-width: 576px) {
    img{
        height: 60px;
    }
    .pro{
        padding: 1px;
    }
}