.view {
    height: 100vh !important;
  }

.fondo-home{
    background-image: url('/assets/images/fondo-home.webp');
    background-size: cover;
    background-repeat: no-repeat;



}
.fondo-2{
   background-image: url('/assets/images/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
html, body{
  overflow: hidden
}