.contenedor{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    margin-top: 50px;
    
}
p{
    margin: 0;
}

.tarjeta{
    display: flex;
    border-radius: 8px;
    background-color: rgb(34, 190, 187);
    margin: 10px;
    transition: all 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);   
    cursor: pointer; 
}
.tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.618);
}

.tarjeta span{
    font-size: 0.8rem;

}

.imagen img{
    width: 150px;
    height: 100%;
    border-radius: 8px 0 0 8px;
}
.text{
    margin-left: 15px;
    margin-top: 5px;
    width: 55%;
}


.status{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 12px;
}

.status:before{
    content: '';
    position: absolute;
    left: -5px;;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation: pulse 1.5s infinite ease-in;
}

.status.live{
    background: #4ef75c;
}
.status.live:before{
    background: #72ff7d;
}


.status.unknown{
    background: #a8a8a8;
}
.status.unknown:before{
    background: #e2d0d0;
}

.status.dead{
    background: #ff4242;
}
.status.dead:before{
    background: #fb7878;
}



@keyframes pulse{
    from{
        transform: scale(0.5);
        opacity: 1;
    }to{
        transform: scale(1.5);
        opacity: 0;
    }
}

@media (max-width: 1280px){
    .contenedor{
        grid-template-columns: repeat(2, 1fr);        
    }
    .tarjeta{
        max-width: 450px;    
        width: 95%;    
        margin-left: auto;
        margin-right: auto;
    }
    
  } 
  @media (max-width: 884px){
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
  
    
  } 

  @media (max-width: 359px){

    .text h5{
        font-size: 0.8rem;
    }
    .text p{
        font-size: 0.6rem;
    }
    .imagen img{
        width: 80px;
    }
  
    
  } 