
span{
    color: aliceblue;

}

.navbar{
    display: flex;
    justify-content: center;
}

.lista{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 30px;

}
a :hover{
    transition: color 0.4s;
    color: rgb(210, 165, 208);
    cursor: pointer;
    text-decoration: underline;
}